.discounts {
  padding-top: 14px;
  padding-bottom: 92px;

  @include r(769) {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  @include r(576) {
    padding-bottom: 48px;
  }

  @include r(321) {
    padding-top: 18px;
  }

  &__container {
    @include r(321) {
      padding: 0 10px;
    }
  }
  
  &__link {
    margin-bottom: 34px;
    display: block;
    outline: transparent;
    transition: all linear 0.2s;

    &:focus {
      box-shadow: 2px -2px 19px 3px $accent;
    }

    img {
      border-radius: 21px;

      @include r(377) {
        border-radius: 9px;
      }
    }

    @include r(769) {
      margin-bottom: 35px;
    }

    @include r(321) {
      margin-bottom: 24px;
    }
  }

  h2 {
    margin-bottom: 18px;

    & ~ span {
      font-size: 22px;
      color: #939393;
      margin-bottom: 24px;
      display: block;

      @include r(769) {
        margin-left: 5px;
      }

      @include r(576) {
        font-size: rem(18);;
      }

      @include r(321) {
        margin-left: 0;
      }
    }

    @include r(576) {
      font-size: 24px;
    }

    @include r(321) {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  &__text {
    max-width: 1095px;
    font-size: rem(18);

    a {
      transition: all linear 0.2s;
      outline: transparent;

      &:focus {
        box-shadow: 2px -2px 19px 3px $accent;
        border-radius: 3px;
      }
    
      &:hover {
        color: $accent;
      }
      
      &:active {
        box-shadow: inset 0 10px 4px #e11c4a1e;
        color: rosybrown;
      }
    }

    p {
      margin-bottom: 13px;

      br {
        display: none;
      }

      &:first-child {
        max-width: 1040px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @include r(769) {
        margin-bottom: 10px;
      }
    }

    @include r(769) {
      margin-left: 5px;
      max-width: 715px;
    }

    @include r(576) {
      font-size: rem(16);
    }

    @include r(377) {
      max-width: 290px;
    }

    @include r(321) {
      margin-left: 0;

      p {
        br {
          display: block;
        }
      }
    }
  }

  &__img {
    object-fit: contain;
    height: auto;

    @include r(769) {
      width: 100%;
      height: 410px;
    }

    @include r(740) {
      height: auto;
    }
  }
}