.footer {
  padding: 38px 0 14px 0;
  background-color: #F4F4F4;

  @include r(369) {
    padding: 37px 0 8px 0;
  }

  @include r(321) {
    padding: 26px 0 24px 0;
  }

  &__container {
    @include r(321) {
      padding-right: 9px;
    }
  }

  &__top {
    display: flex;
    margin-bottom: 40px;

    @include r(769) {
      flex-direction: column;
      margin-bottom: 13px;
      margin-left: 5px;
    }

    @include r(510) {
      align-items: flex-start;
    }

    @include r(321) {
      margin-left: -5px;
      margin-bottom: 14px;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: auto;
    }

    @include r(769) {
      margin-bottom: 24px;

      &:last-child {
        margin-left: 0;
        margin-bottom: 0;
      }
    }

    @include r(510) {
      margin-bottom: 18px;

      &:last-child {
        flex-direction: column;
        align-items: flex-start;

        .footer__item {
          margin-right: 0;
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @include r(321) {
      margin-bottom: 21px;

      &:last-child {
        .footer__item {
          margin-bottom: 13px;
        }
      }
    }
  }

  &__item {
    @include adaptiveValue("margin-right", 62, 4);

    &:last-child {
      margin-right: 0;
    }

    @include r(769) {
      margin-right: 24px;
    }

    @include r(510) {
      margin-right: 25px;
    }
  }

  &__link {
    transition: all linear 0.2s;
    outline: transparent;
    
    &:focus {
      box-shadow: 2px -2px 19px 3px $accent;
      border-radius: 3px;
      background-color: antiquewhite;
    }
    
    &:hover {
      color: $accent;

      &::before {
        background-color: $accent;
      }
    }
    
    &:active {
      box-shadow: inset 0 10px 4px #e11c4a1e;
      color: rosybrown;
    }

    @include r(565) {
      font-size: rem(14);
    }
  }

  &__link--tel, 
  &__link--email {
    display: flex;
    align-items: center;
    outline: transparent;
    transition: all linear 0.2s;

    &::before {
      content: "";
      display: block;
      background-color: #8d8d8d;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      transition: all linear .2s;
    }

    @include r(321) {
      &::before {
        margin-right: 7px;
      }
    }
  }

  &__link--tel {
    &::before {
      mask: url('../images/sprite.svg#header-top--tel') center / cover no-repeat;
      width: 19px;
      height: 19px;
    }
  }

  &__link--email {
    &::before {
      mask: url('../images/sprite.svg#mail-icon') center / cover no-repeat;
      width: 23px;
      height: 15px;
    }

    @include r(769) {
      &::before {
        width: 26px;
        height: 17px;
      }
    }

    @include r(321) {
      &::before {
        width: 18px;
        height: 11px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(769) {
      margin-left: 5px;
    }

    @include r(510) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include r(321) {
      margin-left: -5px;
    }
  }

  &__copy {
    font-size: rem(14);
    color: #8D8D8D;

    @include r(565) {
      font-size: rem(12);
    }

    @include r(510) {
      order: 1;
    }
  }

  &__bottom-list {
    display: flex;
    align-items: center;

    @include r(769) {
      position: relative;
      top: -76px;
      right: 5px;
    }

    @include r(510) {
      position: static;
      margin-bottom: 24px;
    }

    @include r(321) {
      margin-bottom: 26px;
    }
  }

  &__bottom-item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__bottom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: all linear 0.2s;
    outline: transparent;

    span {
      display: block;
      background-color: #8D8D8D;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-size: cover;
      transition: all linear 0.2s;
    }

    &:focus {
      box-shadow: 2px -2px 19px 3px $accent;
    }

    &:active {
      transform: scale(1.1);
    }

    @include r(565) {
      font-size: rem(14);
    }

    @include r(321) {
      width: 30px;
      height: 30px;
    }
  }

  &__bottom-link--vk {
    &:hover {
      background-color: rgb(51, 51, 248);

      span {
        background-color: #ffffff;
      }
    }

    span {
      width: 20px;
      height: 12px;
    }

    @include r(321) {
      span {
        width: 15px;
        height: 9px;
      }
    }
  }
  &__bottom-link--youtube {
    &:hover {
      background-color: red;

      span {
        background-color: #ffffff;
      }
    }

    span {
      width: 21px;
      height: 15px;
    }

    @include r(321) {
      span {
        width: 16px;
        height: 11px;
      }
    }
  }
  &__bottom-link--telegram {
    &:hover {
        background-color: rgb(0, 162, 243);
    
        span {
          background-color: #ffffff;
        }
      }

    span {
      width: 20px;
      height: 17px;
    }

    @include r(321) {
      span {
        width: 15px;
        height: 13px;
      }
    }
  }
}
